@charset "utf-8";

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, select, th, td {
    margin: 0;
    padding: 0;
}
body, button, input, select, textarea {
    font-size: 12px;
    line-height: 20px;
    font-family: Microsoft Yahei, arial,\5b8b\4f53;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}
h2 {
    font-size: 14px;
    font-weight: normal;
}
em, i {
    font-style: normal;
}
ul, ol {
    list-style: none;
}
button, input, select, textarea {
    font-size: 100%;
    outline: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
img {
    border: 0;
}
a {
    color: #212121;
    text-decoration: none;
    cursor: pointer;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
}
a:link, a:visited {
/*    color: #212121;*/
}
a:hover {
/*    color: #F50057;*/
    text-decoration: none;
}
.clear:after {
    content: '\20';
    display: block;
    height: 0;
    clear: both;
}
.clear, .content {
    *zoom: 1;
}

body {
    background: #f5f5f5;
}

.container{ 
    width:100%;
    height:850px;
}

.head{
    height: 65px;
    background-color: #444446;
    display: -webkit-flex
}

.speaker{
    width: 15%;
    margin-left: 10px
}

.speaker img{
    margin-left: 10px;
    margin-top: 15px
}
.logo{
    width: 70%;
    background: url(../images/logo2.png) center center no-repeat
}

.empty{
    width: 15%;
    margin-left: 10px
}

.focus{

}

.menu{
    height: 65px;
    background-color: #444446;
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0
}

.menu ul{
    height: 65px;
    display: -webkit-flex
}

.menu ul li{
    width: 20%
}

.menu ul li p{
    color: #b3b5b4;
    text-align: center;
    font-size: 12px;
    line-height: 8px;
    padding-top: 6px
}

.game-terrace{
    height: 234px;
    margin-top: -5px
}

.terrace-title p{
    font-size: 18px;
    color: #4b4b4b;
    padding-top: 16px;
    padding-left: 5px
}

.terrace-img{
    height: 200px;
}

.terrace-img ul{
    height: 92px;
    display: -webkit-flex
}


.terrace-img ul li{
    width: 50%;
    margin-left: 12px;
    padding-top:12px
}

.hot-game{
    height: 115px;
}

.hotgame-title p{
    font-size: 18px;
    color: #4b4b4b; 
    padding-left: 5px
}

.hotgame-img{
    height: 95px
}

.hotgame-img ul{
    height: 95px;
    display: -webkit-flex  
}

.hotgame-img ul li{
    width: 20%;
    margin-left: 12px;
    padding-top:12px
}

.hotgame-img ul li p{
    color: #4b4b4b;
    text-align: center;
    line-height: 16px
}






















